@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');

ul.field {
  display: none;
  list-style: none;
  margin: 0;
  padding: 4px;
}

.item-header{
  margin-bottom: 10px;
}

ul.field li {
  display: inline-block;
  background-color: #00a9e0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  margin-right: 10px;
  margin-bottom: 17px;
  cursor: pointer;
}

ul.field li.selected {
  background-color: #005f80;
}

ul.field li.title {
  background-color: white !important;
  color: black;
  padding: 10px 0;
}

*:not(i):not("#container") *{
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}

ul {
  padding-left: 1rem;
}

.user-cart span {
  background-color: red;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 10px;
  font-size: 14px;
  margin-left: -1.2rem;
}

/************************** for sidebar ***********************************/

.sidebar {
  height: 100%;
  width: 12vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3B3131;
  overflow-x: hidden;
  padding-top: 5px;
  transition: 0.5s;
}


@media (min-width:992px) {
  .log-out {
    margin-right: 3rem;
  }
}

#main-content {
  width: 83vw;
  margin-left: 12vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 1550px) {
  #main-content {
    width: auto;
    margin-left: 230px;
  }

  .sidebar {
    width: 220px;
  }
}

/* @media (max-width: 992px){
  #main-content {
    width: 78vw;
  } 
} */

.border-b-grey {
  border-bottom: 0.5px solid #007bff;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar .side-header {
  margin-left: 5px;
  margin-bottom: 8px;
  color: #fff;
}

/* When you mouse over the navigation links, change their color */
._active {
  background-color: #584e46;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 34px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.item {
  max-width: 100%;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

p {
  margin-block-end: 0.5em;
}

.line {
  border-bottom: 0.5px solid lightgrey;
  width: 8vw;
  margin: 0;
  padding: 0;
}

.button-add {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-add:hover {
  background-color: rgb(249, 250, 251);
}

.button-add:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-add:focus-visible {
  box-shadow: none;
}

.sample-descr {
  margin-top: 6px;
}

.submib-btn {
  margin-top: 14px;
}

.icon-new-doc::before {
  content: "";
  background: url('../icons/new-doc.png') center / contain no-repeat;
  width: 15px;
  height: 16px;
  display: inline-block;
}


.nav-tabs .nav-item {
  margin: 0 !important;
  cursor: pointer;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: #dee2e6;
}

.nav-tabs {
  border: none;
}