@media all {
    .wp-block-categories {
        box-sizing: border-box;
    }

    ul {
        box-sizing: border-box;
    }
}

@media all {

    li,
    ul {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    a {
        --linkdeco: none;
        color: var(--nv-primary-accent);
        cursor: pointer;
        text-decoration: var(--linkdeco);
    }

    a:focus,
    a:hover {
        opacity: .9;
        color: var(--nv-secondary-accent);
    }

    ul {
        padding-left: var(--listpad, 0);
    }

    ul {
        list-style: var(--liststyle, none);
    }

    ::placeholder {
        color: inherit;
        opacity: .5;
    }

    .nv-sidebar-wrap {
        padding: 60px 15px;
        margin-bottom: 20px;
        flex-grow: 1;
    }

    .widget {
        word-break: break-word;
        margin-bottom: 40px;
    }

    .widget:last-child {
        margin: 0;
    }

    .widget ul {
        padding: 0;
    }

    .widget ul ul {
        padding-left: 10px;
    }

    .widget li {
        margin-top: 10px;
    }

    @media (min-width:960px) {
        .nv-sidebar-wrap {
            max-width: 30%;
        }

        .nv-sidebar-wrap.nv-right {
            padding-left: 45px;
        }
    }
}