<IfModule mod_rewrite.c>
    #RewriteCond %{SERVER_PORT} ^443$ [OR]
    #RewriteCond %{HTTPS} =on

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .* - [S=2]
    RewriteRule ^([a-z]+)$ ?page=$1 [L,QSA]
    RewriteRule ^([a-z]+)/(.*)$ ?lang=$1&page=$2 [L,QSA]

    RewriteEngine On
    RewriteCond %{HTTP:Authorization} ^(.+)$
    RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]
    AddDefaultCharset utf-8
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>
