/* CONTAINER PHONE */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* CONTAINER TABLET POTRAIT */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* CONTAINER TABLET LANDSCAPE */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* CONTAINER DESKTOP */
@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

/* ARTICLES */
@media (max-width: 1399.5px) and (min-width:768px){
  .card .card-title {
    font-size: 15px;
    padding-top: 5px;
  }

  .card .card-dedline {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .card .card-data {
    margin-top: 0px;
  }

  .btn-container {
    bottom: 10px;
  }

  .btn-card {
    font-size: 12px;
    padding: 0.25rem 1rem;
  }

  .card .bookmark i {
    font-size: 1.25rem;
  }
}

@media (max-width:420px) {

  .btn-container {
    bottom: 10px;
  }

  .btn-card {
    padding: 0.4rem ;
  }
}

/* BUTTTONS SMALL SCREEN */
@media (max-width: 620px) {
  .btn {
    font-size: var(--ts-sml);
  }
}

/* TAGS SMALL SCREEN */
@media (max-width: 620px) {
  .tag {
    font-size: var(--ts-vs);
  }
}

/* NAVBAR TABLET */
@media (max-width: 1440px ) {
  .navbar ul li a {
    font-size: 15px;
  }

  .navbar .nav-login a {
    font-size: 12px;
    line-height: 13px;
  }

  .navbar ul li .search {
    width: 300px;
  }
}

@media (max-width: 1200px )  {
  .navbar ul li a {
    padding: 10px 8px;
  }

  .navbar ul li {
    margin: 0px 2px;
  }

  .navbar ul li .search {
    width: 200px;
  }

}

@media (max-width: 976px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar ul {
    display: none;
    margin-right: 0px;
    float: left;
  }
  .navbar .logo {
    padding-left: 30px;
    width: 100%;
  }
  .show + a,
  .ul {
    display: none;
  }
  .navbar ul li,
  .navbar ul ul li {
    display: block;
    width: 100%;
    padding: 3px 24px;
    background-color: transparent;
  }
  .navbar ul li a {
    font-size: var(--ts-md);
    font-weight: 500;
    padding: 0;
  }

  .show {
    display: block;
    color: var(--black-color);
    font-size: var(--ts-md);
    font-weight: 500;
    padding: 0 10px;
    line-height: 70px;
    cursor: pointer;
  }
  .icon {
    display: block;
    color: var(--black-color);
    position: absolute;
    top: 37;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    z-index: 100;
  }
  .navbar ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    /* opacity: 1; */
    /* visibility: visible; */
  }
  .navbar ul ul a {
    padding-left: 0px;
  }
  [id^="btn"]:checked + ul {
    display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  /* height: 100%; */
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  opacity: 0.95;
  height: 100%;
  }

  .nav-search{
    display: inline-block;
  }

 .navbar ul li .search {
    display: none;
  }

  .ul li {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .navbar ul ul li {
    border-bottom: 0px;
  }


  span.cancel:before {
    content: "\f00d";
  }

  .category-list .card-more {
    font-size: 45px;
  }
}

/* NAVBAR PHONE */
@media (min-width: 576px) and (max-width: 976px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* IMAGE SLIDER DESKTOP DOWN*/
@media (max-width: 1220px) {
  .img-slider .slide .info {
    /* top: 45px; */
    left: 33px;
    /* width: 80vw; */
  }

  .img-slider .slide .info h1 {
    font-size: 30px;
  }

  .img-slider .slide .info p {
    font-size: 15px;
  }

  .btn-primary {
    font-size: 24px;
  }

  .img-slider .navigation .slide-nav-btn {
    width: 9px;
    height: 9px;
    margin: 6px;
  }
}

/* IMAGE SLIDER TABLET LANDSCAPE */
@media (max-width: 820px) {
  /* .img-slider {
    height: 375px;
  } */
  .img-slider .slide .info {
    top: 25px;
    left: 25px;
    width: 90vw;
  }
  .img-slider .slide img {
    object-fit: cover;
    /* height: 375px; */
  }
  .img-slider .slide .info h1 {
    /* font-size: var(--hs-sml); */
    font-size: 25px;
  }

  .img-slider .slide .info p {
    /* font-size: var(--ts-md); */
    font-size: 15px;
  }
  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .slide-nav-btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }

  .btn-primary {
    font-size: 20px;
  }

  .img-slider .slide .before {
    width: 24px;
    height: 24px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
  }

  .img-slider .slide .after {
    width: 24px;
    height: 24px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
  }
}

/* IMAGE SLIDER TABLET POTRAIT*/
@media (max-width: 620px) {
  .img-slider {
    height: 240px;
  }
  .img-slider .slide .info {
    /* top: 8px; */
    left: 17px;
    width: 80vw;
    flex-direction: column;
    align-items: start;
  }
  .img-slider .slide .info .info-text{
    /* top: 8px; */
    width: 80vw;
    height: 150px;
  }
  .img-slider .slide img {
    object-fit: cover;
    height: 240px;
  }
  .img-slider .slide .info h1 {
    /* font-size: var(--ts-lg); */
    font-size: 15px;
  }

  .img-slider .slide .info p {
    font-size: var(--ts-sml);
  }
  .img-slider .navigation {
    bottom: 15px;
    display: none;
  }

  .img-slider .navigation .slide-nav-btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }

  .img-slider .slide .before {
    width: 20px;
    height: 20px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
  }

  .img-slider .slide .after {
    width: 20px;
    height: 20px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
  }

  .btn-primary {
    font-size: 16px;
    padding: 6px 11px;
  }


}

/* IMAGE SLIDER PHONE */
@media (max-width: 420px) {
  .img-slider {
    height: 250px;
  }
  .img-slider .slide .info {
    top: 10px;
    left: 32px;
    width: 90vw;
    padding: 0.5rem 1rem;
  }
  .img-slider .slide img {
    object-fit: cover;
    height: 250px;
  }
  .img-slider .slide .info h1 {
    font-size: var(--ts-lg);
  }

  .img-slider .slide .info p {
    font-size: var(--ts-sml);
  }
  .img-slider .navigation {
    bottom: 10px;
  }
}

/* CARD LIST MOBILE*/
@media (min-width: 576px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* CARD LIST TABLET*/
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* CARD LIST DESKTOP*/
@media (min-width: 992px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* FOOTER PHONE */
@media (min-width: 700px) {
  .footer-right > * {
    flex: 1;
  }

  .footer-left {
    flex: 1 0px;
  }

  .footer-right {
    flex: 2 0px;
  }
}

@media (max-width: 588px) {
  .footer {
    padding-left: 30px;
  }
}

/* HEADINGS */
@media (max-width: 588px) {
  .search-heading {
    text-decoration: none;
    line-height: 1.5;
    padding-left: 10px;
    font-size: var(--hs-vs);
  }
}

/* ARTICLE TABLET*/
@media (max-width: 992px) {
  /* .card1 img {
    height: 380px;
  } */
  .page-container {
    grid-template-columns: 1fr;
  }

 .article-list .card {
    display: block;
    padding: 8px;
  }
  
  .article-list .card-img img {
    border-radius: 20px;
  
  }

  .article-list .card-text {
    padding: 0; 
  }

  .article-list .card-title {
    /* height: 45px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .article-list .card-dedline {
    font-size: 13px;
  }

  .article-list .card-data {
    height: 50px;
    font-size: 13px;
    margin-bottom: 18px;
  }

  .article-list .btn-container {
    /* position: absolute; */
    position: relative;
    gap: 20px;
  }

  .article-list .btn-card {
    width: 100%;
    text-align: center;
  }

  .article-list .card-more {
    position: relative;
  }

  .article-list .card-more h3{
    position: absolute;
    /* margin: 0 auto; */
    top:50%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* ARTICLE TABLET POTRAIT*/
@media (max-width: 768px) {
  .page-container {
    grid-template-columns: 1fr;
  }

  .article-list .card-more {
    height: 200px;
  }
  /* .article-list .card {
    max-width: 200px;
  } */
  /* .card1 img {
    height: 350px;
  } */
}

/* ARTICLE PHONE*/
@media (max-width: 500px) {
  .article-heading {
    font-size: var(--hs-vs);
    font-weight: 600;
    color: var(--black-color);
    letter-spacing: -1px;
    padding: 5px 0px;
  }
  .article .meta {
    flex-direction: column;
  }
  .article .article-content {
    font-size: 0.8rem;
  }
  .card1 img {
    width: 100%;
    /* height: 300px; */
    margin-left: 0%;
  }
  .article .meta i {
    color: black;
    padding: 5px;
  }


}

/* ASIDE CARDS SMALL PHONE */
@media (max-width: 350px) {
  .card2 {
    max-height: 800px;
  }
}
@media (max-width: 589px) and (min-width: 400px) {
  .aside-card-img {
    padding: 0;
    height: 110px;
    width: 150px;
    overflow: hidden;
    margin-right: 8px;
  }
  .card2 {
    max-height: 800px;
  }
}

/* ASIDE CARDS PHONE UP */
@media (max-width: 767px) and (min-width: 500px) {
  .aside-card-img {
    padding: 0;
    height: 130px;
    width: 170px;
    overflow: hidden;
    margin-right: 8px;
  }
  .card2 {
    max-height: 850px;
  }
  .aside-card-author,
  .aside-card-date {
    display: block;
  }
}

/* ASIDE CARDS TABLET */
@media (max-width: 991px) and (min-width: 767px) {
  .aside-card-img {
    padding: 0;
    height: 150px;
    width: 200px;
    overflow: hidden;
    margin-right: 8px;
  }
  .card2 {
    max-height: 950px;
  }
  .aside-card-author,
  .aside-card-date {
    display: block;
  }
}

/* ASIDE CARDS TABLET UP*/
@media (max-width: 1000px) and (min-width: 991px) {
  .aside-card-img {
    padding: 0;
    height: 200px;
    width: 350px;
    overflow: hidden;
    margin-right: 8px;
  }
  .card2 {
    max-height: 1200px;
  }
  .aside-card-author,
  .aside-card-date {
    display: block;
  }
}

/* ASIDE CARDS DESKTOP */
@media (max-width: 1200px) and (min-width: 1000px) {
  .card2 {
    max-height: 1000px;
  }
  .aside-card-author,
  .aside-card-date {
    display: none;
  }
}

/* LOGIN FORMS SMALL SCREENS */
@media (max-width: 800px) {
  .forms-container {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .input-field {
    width: 250px;
  }
}

/* About Us */

@media (max-width: 976px)
{
  .about-us-content {
    flex-direction: column;
  }
}